<a href="https://colab.research.google.com/github/Natalia409634/Grupo7-practica2-ML/blob/main/G7_P2_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PRÁCTICA 2 -- APRENDIZAJE AUTOMÁTICO

# Librerías

In [ ]:
import pandas as pd
import pickle
import os

# Lectura de Datos

Los datos están en formato 'pkl'

In [24]:


# Directorio que contiene los archivos pkl
dir_path = '/content/drive/MyDrive/Aprendizaje Automático/practica 2/datos_grupos/'

#diccionario para almacenar los DataFrames
data_dict = {}

# Lee cada archivo pkl en el directorio y guarda el DataFrame correspondiente en el diccionario
for filename in os.listdir(dir_path):
    if filename.endswith('.pkl'):
        filepath = os.path.join(dir_path, filename)
        key = filename[:-4]  # Elimina la extensión .pkl del nombre de archivo
        data_dict[key] = pd.read_pickle(filepath)

In [39]:
import os
import pandas as pd


# Lista para almacenar los DataFrames
dfs = []

# Lee cada archivo pkl en el directorio y guarda el DataFrame correspondiente en la lista
for filename in os.listdir('/content/drive/MyDrive/Aprendizaje Automático/practica 2/datos_grupos/'):
    if filename.endswith('.pkl'):
        filepath = os.path.join(dir_path, filename)
        df = pd.read_pickle(filepath)
        dfs.append(df)

# Concatena los DataFrames en uno solo
data_df = pd.concat(dfs)

Edición visual de los datos

In [42]:
def set_frame_style(df, caption=""):
    """Helper function to set dataframe presentation style.
    """
    return df.style.background_gradient(cmap='Blues').set_caption(caption).set_table_styles([{
    'selector': 'caption',
    'props': [
        ('color', 'darkblue'),
        ('font-size', '18px'),
        ('font-weight','bold')
    ]}])

# EDA Simplificado

Hacer un EDA muy simplificado: 

*   cuántas instancias / cuantos
atributos y de qué tipo (numéricos, ordinales, categóricos) DONE
*   columnas constantes o
innecesarias DONE
*   que proporción de missing values por atributo
*   tipo de problema:
(clasificación o regresión) -> clasificación no?
*   ¿es desbalanceado?

In [43]:
data_df.head()

,hrs,absences,JobInvolvement,PerformanceRating,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,Age,Attrition,BusinessTravel,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
1,7.315971,13.0,2.0,4.0,3.0,2.0,4.0,31.0,Yes,NaN,...,0.0,Y,23.0,8.0,NaN,NaN,3.0,5.0,NaN,4.0
6,6.450877,NaN,3.0,4.0,1.0,3.0,1.0,28.0,Yes,Travel_Rarely,...,2.0,Y,20.0,8.0,1.0,5.0,2.0,NaN,0.0,NaN
13,NaN,14.0,2.0,3.0,NaN,2.0,2.0,NaN,Yes,Non-Travel,...,1.0,NaN,11.0,NaN,NaN,10.0,4.0,10.0,9.0,9.0
28,10.713066,6.0,2.0,3.0,NaN,3.0,1.0,NaN,Yes,Travel_Frequently,...,NaN,Y,14.0,8.0,1.0,19.0,2.0,1.0,0.0,0.0
30,9.662808,11.0,NaN,3.0,1.0,2.0,3.0,26.0,Yes,Travel_Rarely,...,NaN,Y,11.0,8.0,0.0,5.0,NaN,3.0,0.0,2.0

In [44]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 441000 entries, 1 to 4409
Data columns (total 31 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   hrs                      372828 non-null  float64
 1   absences                 364050 non-null  float64
 2   JobInvolvement           365856 non-null  float64
 3   PerformanceRating        374143 non-null  float64
 4   EnvironmentSatisfaction  365240 non-null  float64
 5   JobSatisfaction          372361 non-null  float64
 6   WorkLifeBalance          364689 non-null  float64
 7   Age                      363065 non-null  float64
 8   Attrition                441000 non-null  object
 9   BusinessTravel           368909 non-null  object
 10  Department               373374 non-null  object
 11  DistanceFromHome         369199 non-null  float64
 12  Education                368388 non-null  float64
 13  EducationField           367527 non-null  object
 14  EmployeeCount            366046 non-null  float64
 15  EmployeeID               370904 non-null  float64
 16  Gender                   363744 non-null  object
 17  JobLevel                 367658 non-null  float64
 18  JobRole                  368727 non-null  object
 19  MaritalStatus            370643 non-null  object
 20  MonthlyIncome            366922 non-null  float64
 21  NumCompaniesWorked       369465 non-null  float64
 22  Over18                   367673 non-null  object
 23  PercentSalaryHike        370380 non-null  float64
 24  StandardHours            369467 non-null  float64
 25  StockOptionLevel         366001 non-null  float64
 26  TotalWorkingYears        363222 non-null  float64
 27  TrainingTimesLastYear    366704 non-null  float64
 28  YearsAtCompany           364384 non-null  float64
 29  YearsSinceLastPromotion  370546 non-null  float64
 30  YearsWithCurrManager     366929 non-null  float64
dtypes: float64(23), object(8)
memory usage: 107.7+ MB

EL conjunto de datos proporcionado tiene 30 atributos, los cuales adoptan un formato float y un formato 'object'

Identificar y tratar datos faltantes

In [46]:
data_df.isnull().sum()

hrs                        68172
absences                   76950
JobInvolvement             75144
PerformanceRating          66857
EnvironmentSatisfaction    75760
JobSatisfaction            68639
WorkLifeBalance            76311
Age                        77935
Attrition                      0
BusinessTravel             72091
Department                 67626
DistanceFromHome           71801
Education                  72612
EducationField             73473
EmployeeCount              74954
EmployeeID                 70096
Gender                     77256
JobLevel                   73342
JobRole                    72273
MaritalStatus              70357
MonthlyIncome              74078
NumCompaniesWorked         71535
Over18                     73327
PercentSalaryHike          70620
StandardHours              71533
StockOptionLevel           74999
TotalWorkingYears          77778
TrainingTimesLastYear      74296
YearsAtCompany             76616
YearsSinceLastPromotion    70454
YearsWithCurrManager       74071
dtype: int64

Attition tiene valor 0. Dado que parece un dato irregular, estudiaremos más a fondo esta variable para entender que puede estar pasando

La función dropna elimina filas y columnas que tienen valores nulos. GUardamos el resultado en una nueva variable para poder trabajar con los datos modificados.

In [53]:
data_df.dropna()

,hrs,absences,JobInvolvement,PerformanceRating,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,Age,Attrition,BusinessTravel,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
120,8.600742,14.0,3.0,4.0,1.0,4.0,2.0,34.0,Yes,Non-Travel,...,8.0,Y,25.0,8.0,1.0,9.0,3.0,5.0,0.0,4.0
2218,6.908168,5.0,3.0,3.0,1.0,1.0,3.0,49.0,Yes,Travel_Frequently,...,3.0,Y,18.0,8.0,0.0,20.0,2.0,4.0,1.0,3.0
2682,8.180052,12.0,3.0,3.0,2.0,4.0,1.0,41.0,Yes,Travel_Rarely,...,8.0,Y,12.0,8.0,1.0,8.0,2.0,6.0,0.0,5.0
160,5.726737,22.0,4.0,4.0,1.0,4.0,1.0,26.0,No,Travel_Rarely,...,1.0,Y,24.0,8.0,0.0,3.0,2.0,3.0,0.0,2.0
286,7.638302,20.0,2.0,4.0,4.0,3.0,2.0,47.0,No,Travel_Frequently,...,9.0,Y,22.0,8.0,1.0,28.0,6.0,22.0,11.0,13.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1890,6.268158,16.0,3.0,3.0,4.0,3.0,2.0,48.0,No,Travel_Rarely,...,4.0,Y,18.0,8.0,0.0,13.0,4.0,0.0,0.0,0.0
1929,6.950258,5.0,3.0,3.0,3.0,2.0,3.0,27.0,No,Travel_Rarely,...,9.0,Y,17.0,8.0,2.0,4.0,2.0,2.0,2.0,2.0
2976,9.546104,12.0,3.0,3.0,2.0,4.0,2.0,37.0,No,Travel_Frequently,...,1.0,Y,14.0,8.0,0.0,4.0,3.0,4.0,1.0,2.0
3251,6.881342,18.0,1.0,3.0,1.0,1.0,3.0,36.0,No,Non-Travel,...,1.0,Y,18.0,8.0,1.0,10.0,2.0,10.0,0.0,9.0
3787,6.547141,20.0,2.0,4.0,1.0,1.0,1.0,33.0,No,Travel_Rarely,...,2.0,Y,20.0,8.0,1.0,8.0,2.0,2.0,2.0,2.0

In [59]:
disp_df = data_df.dropna()

In [60]:
disp_df.drop_duplicates()

,hrs,absences,JobInvolvement,PerformanceRating,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,Age,Attrition,BusinessTravel,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
120,8.600742,14.0,3.0,4.0,1.0,4.0,2.0,34.0,Yes,Non-Travel,...,8.0,Y,25.0,8.0,1.0,9.0,3.0,5.0,0.0,4.0
2218,6.908168,5.0,3.0,3.0,1.0,1.0,3.0,49.0,Yes,Travel_Frequently,...,3.0,Y,18.0,8.0,0.0,20.0,2.0,4.0,1.0,3.0
2682,8.180052,12.0,3.0,3.0,2.0,4.0,1.0,41.0,Yes,Travel_Rarely,...,8.0,Y,12.0,8.0,1.0,8.0,2.0,6.0,0.0,5.0
160,5.726737,22.0,4.0,4.0,1.0,4.0,1.0,26.0,No,Travel_Rarely,...,1.0,Y,24.0,8.0,0.0,3.0,2.0,3.0,0.0,2.0
286,7.638302,20.0,2.0,4.0,4.0,3.0,2.0,47.0,No,Travel_Frequently,...,9.0,Y,22.0,8.0,1.0,28.0,6.0,22.0,11.0,13.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,6.350194,21.0,2.0,3.0,3.0,3.0,3.0,42.0,No,Travel_Rarely,...,7.0,Y,16.0,8.0,0.0,10.0,2.0,5.0,0.0,3.0
1929,6.950258,5.0,3.0,3.0,3.0,2.0,3.0,27.0,No,Travel_Rarely,...,9.0,Y,17.0,8.0,2.0,4.0,2.0,2.0,2.0,2.0
2976,9.546104,12.0,3.0,3.0,2.0,4.0,2.0,37.0,No,Travel_Frequently,...,1.0,Y,14.0,8.0,0.0,4.0,3.0,4.0,1.0,2.0
3251,6.881342,18.0,1.0,3.0,1.0,1.0,3.0,36.0,No,Non-Travel,...,1.0,Y,18.0,8.0,1.0,10.0,2.0,10.0,0.0,9.0
3787,6.547141,20.0,2.0,4.0,1.0,1.0,1.0,33.0,No,Travel_Rarely,...,2.0,Y,20.0,8.0,1.0,8.0,2.0,2.0,2.0,2.0

DUDA-> HE ELIMINADO LAS VARIABLES REPETIDAS-> NO SE SI HAY QUE AHCERLO YA QUE HAY DEMASIADAS Y ME PARECE RARO

In [61]:
cols = disp_df.columns.to_list()

display(set_frame_style(disp_df[cols].head(),'Primeros'))

display(set_frame_style(disp_df[cols].describe(),'Resumen de estadistica'))

display(set_frame_style(disp_df[cols].isna().any().to_frame().transpose(), 'Columnas con valor nulo'))

display(set_frame_style(disp_df[cols].nunique().to_frame().rename({0:'Numero de valores únicos'}, axis=1).transpose(), 'Valores únicos en cada variable'))

¿Problema de clasificación o de regresión?

Se trat de un problema de clasificación, ya que la variable de salida que se espera del modelo es categórica, es decir, se espera que el modelo prediga si un empleado abandonará o no la empresa en un futuro cercano

**¿El problema está balanceado?**

In [66]:
disp_df.value_counts()

hrs        absences  JobInvolvement  PerformanceRating  EnvironmentSatisfaction  JobSatisfaction  WorkLifeBalance  Age   Attrition  BusinessTravel     Department              DistanceFromHome  Education  EducationField   EmployeeCount  EmployeeID  Gender  JobLevel  JobRole                 MaritalStatus  MonthlyIncome  NumCompaniesWorked  Over18  PercentSalaryHike  StandardHours  StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  YearsAtCompany  YearsSinceLastPromotion  YearsWithCurrManager
6.063686   12.0      2.0             3.0                3.0                      3.0              3.0              35.0  No         Travel_Rarely      Human Resources         1.0               3.0        Human Resources  1.0            441.0       Male    3.0       Laboratory Technician   Married        136750.0       1.0                 Y       15.0               8.0            3.0               5.0                5.0                    5.0             1.0                      0.0                     4
7.352695   18.0      3.0             3.0                4.0                      3.0              3.0              29.0  No         Travel_Rarely      Research & Development  2.0               2.0        Life Sciences    1.0            962.0       Male    2.0       Research Scientist      Married        192370.0       9.0                 Y       11.0               8.0            1.0               9.0                2.0                    5.0             1.0                      2.0                     4
5.723319   22.0      2.0             3.0                1.0                      3.0              1.0              37.0  Yes        Travel_Rarely      Sales                   10.0              4.0        Marketing        1.0            1908.0      Female  3.0       Human Resources         Married        30720.0        5.0                 Y       14.0               8.0            0.0               17.0               3.0                    14.0            11.0                     7.0                     4
10.126904  13.0      3.0             3.0                3.0                      3.0              3.0              28.0  No         Travel_Frequently  Sales                   6.0               4.0        Life Sciences    1.0            570.0       Male    1.0       Manager                 Divorced       52530.0        1.0                 Y       15.0               8.0            0.0               3.0                2.0                    3.0             0.0                      2.0                     3
6.743696   12.0      3.0             3.0                3.0                      1.0              2.0              48.0  No         Travel_Rarely      Research & Development  2.0               5.0        Life Sciences    1.0            3797.0      Male    1.0       Sales Executive         Married        47650.0        8.0                 Y       12.0               8.0            1.0               10.0               4.0                    8.0             7.0                      6.0                     3
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          ..
6.599556   20.0      2.0             3.0                4.0                      4.0              3.0              35.0  No         Travel_Rarely      Research & Development  1.0               4.0        Other            1.0            716.0       Female  2.0       Research Director       Married        81200.0        0.0                 Y       13.0               8.0            0.0               10.0               2.0                    9.0             0.0                      0.0                     1
6.596371   8.0       3.0             3.0                3.0                      2.0              3.0              24.0  No         Non-Travel         Sales                   1.0               5.0        Marketing        1.0            329.0       Female  1.0       Manufacturing Director  Divorced       81890.0        1.0                 Y       14.0               8.0            1.0               1.0                3.0                    1.0             0.0                      0.0                     1
6.596234   11.0      1.0             3.0                4.0                      2.0              3.0              46.0  No         Travel_Rarely      Research & Development  1.0               4.0        Life Sciences    1.0            659.0       Male    1.0       Manufacturing Director  Married        23400.0        2.0                 Y       13.0               8.0            1.0               26.0               2.0                    11.0            0.0                      8.0                     1
6.595310   7.0       4.0             3.0                3.0                      1.0              2.0              38.0  No         Travel_Rarely      Human Resources         2.0               4.0        Medical          1.0            3173.0      Male    1.0       Human Resources         Single         20140.0        3.0                 Y       17.0               8.0            1.0               8.0                5.0                    0.0             0.0                      0.0                     1
10.881625  3.0       3.0             3.0                1.0                      4.0              3.0              37.0  No         Non-Travel         Research & Development  1.0               3.0        Medical          1.0            18.0        Male    2.0       Sales Executive         Divorced       41270.0        2.0                 Y       13.0               8.0            1.0               15.0               2.0                    5.0             0.0                      2.0                     1
Length: 1491, dtype: int64

HELP con esto jaja

# Evaluación

Simplemente
dividiremos los datos en un conjunto de train para entrenar y ajustar hiper-Aprendizaje Automático
Práctica 2: Predicción de burnout
parámetros, y un conjunto de test en el que evaluaremos las distintas posibilidades
que se probarán en la práctica. Hay que recordar que En problemas de clasificación
desbalanceados hay que usar particiones estratificadas y métricas adecuadas
(balanced_accuracy, f1, matriz de confusión). También es conveniente que los
métodos de construcción de modelos traten el desbalanceo, usando por ejemplo
el parámetro class_weight=”balanced”.

# Construcción de modelos

Construcción de modelos: para esta práctica usaremos
LogisticRegression como método base (sin ajustar hiper-parámetros) y Boosting
como método avanzado (ajustando hiper-parámetros), a elegir. Es importante
realizar los preprocesos que los datos necesiten, usando preferentemente
pipelines. Como método de boosting, se puede elegir uno de entre los métodos de
boosting disponibles en scikit-learn. Si además se usa uno de entre las librerías
externas xgboost, lightgbm o catboost, se pueden sacar +0.35 puntos adicionales.

# Mejora de resultados

Usando algún método de selección de atributos de tipo filter
(SelectKBest) de entre los disponibles en sklearn (f_classif,
mutual_info_classif o chi2), comprobad si se pueden mejorar los resultados del
apartado anterior y extraer conclusiones sobre qué atributos son más importantes,
al menos de acuerdo a estos métodos.