<a href="https://colab.research.google.com/github/Natalia409634/Grupo7-practica2-ML/blob/main/G7_P2_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PRÁCTICA 2 -- APRENDIZAJE AUTOMÁTICO

# Librerías

In [3]:
from google.colab import drive
drive.mount('/content/drive')
import pickle
import os

# Tratamiento de datos
# ==============================================================================
import numpy as np
import pandas as pd

# Gráficos
# ==============================================================================
import matplotlib.pyplot as plt
from matplotlib import style
import seaborn as sns

# Preprocesado y modelado
# ==============================================================================
from sklearn.datasets import load_breast_cancer
from sklearn.model_selection import RandomizedSearchCV, KFold, GridSearchCV, cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn import metrics

# Configuración warnings
# ==============================================================================
import warnings
warnings.filterwarnings('ignore')

Mounted at /content/drive

# Lectura de Datos

Los datos están en formato 'pkl'

In [4]:
# Carga el archivo pkl en un DataFrame de Pandas
data_df = pd.read_pickle('/content/drive/MyDrive/Aprendizaje Automático/practica 2/datos_grupos/attrition_available_7.pkl')

Edición visual de los datos

In [5]:
def set_frame_style(df, caption=""):
    """Helper function to set dataframe presentation style.
    """
    return df.style.background_gradient(cmap='Blues').set_caption(caption).set_table_styles([{
    'selector': 'caption',
    'props': [
        ('color', 'darkblue'),
        ('font-size', '18px'),
        ('font-weight','bold')
    ]}])

# EDA Simplificado

Hacer un EDA muy simplificado: 

*   cuántas instancias / cuantos
atributos y de qué tipo (numéricos, ordinales, categóricos) DONE
*   columnas constantes o
innecesarias DONE
*   que proporción de missing values por atributo
*   tipo de problema:
(clasificación o regresión) -> clasificación no?
*   ¿es desbalanceado?

In [6]:
data_df.head()

,hrs,absences,JobInvolvement,PerformanceRating,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,Age,Attrition,BusinessTravel,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
1,7.315971,13.0,2.0,NaN,3.0,2.0,NaN,31.0,Yes,Travel_Frequently,...,0.0,Y,NaN,NaN,1,6.0,3.0,5.0,1.0,4.0
6,6.450877,17.0,3.0,4.0,1.0,3.0,1.0,28.0,Yes,Travel_Rarely,...,2.0,Y,20.0,NaN,1,5.0,2.0,0.0,0.0,0.0
13,8.871421,14.0,2.0,3.0,1.0,2.0,2.0,47.0,Yes,NaN,...,1.0,Y,NaN,8.0,2,10.0,4.0,10.0,9.0,9.0
28,10.713066,6.0,2.0,3.0,4.0,3.0,1.0,44.0,Yes,Travel_Frequently,...,3.0,Y,14.0,8.0,1,19.0,2.0,1.0,0.0,0.0
30,9.662808,11.0,2.0,NaN,1.0,2.0,NaN,26.0,Yes,Travel_Rarely,...,2.0,Y,NaN,8.0,0,5.0,5.0,3.0,0.0,2.0

In [7]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4410 entries, 1 to 4409
Data columns (total 31 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   hrs                      3588 non-null   float64
 1   absences                 3663 non-null   float64
 2   JobInvolvement           3542 non-null   float64
 3   PerformanceRating        3684 non-null   float64
 4   EnvironmentSatisfaction  4385 non-null   float64
 5   JobSatisfaction          3484 non-null   float64
 6   WorkLifeBalance          3526 non-null   float64
 7   Age                      3678 non-null   float64
 8   Attrition                4410 non-null   object
 9   BusinessTravel           3452 non-null   object
 10  Department               3553 non-null   object
 11  DistanceFromHome         3569 non-null   float64
 12  Education                3676 non-null   float64
 13  EducationField           3441 non-null   object
 14  EmployeeCount            3561 non-null   float64
 15  EmployeeID               4410 non-null   int64
 16  Gender                   3706 non-null   object
 17  JobLevel                 3566 non-null   float64
 18  JobRole                  3692 non-null   object
 19  MaritalStatus            3652 non-null   object
 20  MonthlyIncome            3448 non-null   float64
 21  NumCompaniesWorked       3646 non-null   float64
 22  Over18                   4410 non-null   object
 23  PercentSalaryHike        3457 non-null   float64
 24  StandardHours            3465 non-null   float64
 25  StockOptionLevel         4410 non-null   int64
 26  TotalWorkingYears        3514 non-null   float64
 27  TrainingTimesLastYear    3700 non-null   float64
 28  YearsAtCompany           3628 non-null   float64
 29  YearsSinceLastPromotion  3652 non-null   float64
 30  YearsWithCurrManager     3665 non-null   float64
dtypes: float64(21), int64(2), object(8)
memory usage: 1.1+ MB

EL conjunto de datos proporcionado tiene 30 atributos, los cuales adoptan un formato float64 y un formato 'object'

Identificar y tratar datos faltantes

In [8]:
data_df.isnull().sum()

hrs                        822
absences                   747
JobInvolvement             868
PerformanceRating          726
EnvironmentSatisfaction     25
JobSatisfaction            926
WorkLifeBalance            884
Age                        732
Attrition                    0
BusinessTravel             958
Department                 857
DistanceFromHome           841
Education                  734
EducationField             969
EmployeeCount              849
EmployeeID                   0
Gender                     704
JobLevel                   844
JobRole                    718
MaritalStatus              758
MonthlyIncome              962
NumCompaniesWorked         764
Over18                       0
PercentSalaryHike          953
StandardHours              945
StockOptionLevel             0
TotalWorkingYears          896
TrainingTimesLastYear      710
YearsAtCompany             782
YearsSinceLastPromotion    758
YearsWithCurrManager       745
dtype: int64

Attition,EmployeeID, Over18 y StockOptionLevel tienen valor 0. Dado que parecen datos irregulares, estudiaremos más a fondo estas variables para entender que puede estar pasando

La función dropna elimina filas y columnas que tienen valores nulos. GUardamos el resultado en una nueva variable para poder trabajar con los datos modificados.

In [9]:
data_df.dropna()

,hrs,absences,JobInvolvement,PerformanceRating,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,Age,Attrition,BusinessTravel,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
28,10.713066,6.0,2.0,3.0,4.0,3.0,1.0,44.0,Yes,Travel_Frequently,...,3.0,Y,14.0,8.0,1,19.0,2.0,1.0,0.0,0.0
2013,9.875726,15.0,3.0,3.0,4.0,3.0,3.0,50.0,Yes,Travel_Frequently,...,3.0,Y,14.0,8.0,0,5.0,3.0,0.0,0.0,0.0
3067,7.686566,15.0,2.0,3.0,3.0,4.0,3.0,30.0,Yes,Travel_Frequently,...,9.0,Y,19.0,8.0,0,3.0,2.0,1.0,0.0,0.0
3296,7.444562,18.0,3.0,4.0,3.0,3.0,3.0,26.0,Yes,Travel_Frequently,...,1.0,Y,23.0,8.0,0,8.0,2.0,8.0,1.0,7.0
3461,8.037368,19.0,3.0,4.0,1.0,3.0,4.0,51.0,Yes,Travel_Rarely,...,9.0,Y,20.0,8.0,0,18.0,2.0,10.0,2.0,7.0
280,5.771757,16.0,3.0,3.0,4.0,3.0,3.0,41.0,No,Travel_Rarely,...,1.0,Y,16.0,8.0,0,22.0,2.0,22.0,2.0,10.0
514,6.468416,16.0,3.0,3.0,1.0,3.0,3.0,56.0,No,Travel_Frequently,...,2.0,Y,11.0,8.0,0,18.0,4.0,5.0,0.0,3.0
1230,7.629565,12.0,3.0,3.0,1.0,4.0,3.0,53.0,No,Travel_Rarely,...,2.0,Y,13.0,8.0,0,31.0,3.0,25.0,3.0,7.0
1511,6.994158,19.0,2.0,3.0,4.0,2.0,3.0,51.0,No,Travel_Rarely,...,5.0,Y,13.0,8.0,0,13.0,2.0,4.0,1.0,2.0
1518,6.428416,20.0,3.0,4.0,4.0,3.0,2.0,32.0,No,Travel_Rarely,...,1.0,Y,21.0,8.0,1,13.0,4.0,13.0,4.0,8.0
1608,8.253846,19.0,3.0,3.0,3.0,3.0,3.0,43.0,No,Travel_Rarely,...,4.0,Y,18.0,8.0,1,8.0,3.0,5.0,0.0,2.0
1657,7.160385,7.0,3.0,3.0,1.0,2.0,3.0,55.0,No,Travel_Rarely,...,3.0,Y,11.0,8.0,0,37.0,5.0,10.0,7.0,7.0
1755,5.852605,11.0,2.0,3.0,1.0,3.0,3.0,44.0,No,Non-Travel,...,2.0,Y,12.0,8.0,0,9.0,6.0,5.0,1.0,4.0
1924,6.972995,18.0,3.0,3.0,2.0,4.0,3.0,33.0,No,Travel_Rarely,...,3.0,Y,12.0,8.0,0,5.0,3.0,3.0,0.0,2.0
3216,6.399309,15.0,3.0,3.0,3.0,3.0,3.0,53.0,No,Travel_Rarely,...,3.0,Y,18.0,8.0,1,32.0,2.0,5.0,1.0,3.0
3228,6.233736,8.0,3.0,3.0,3.0,3.0,3.0,29.0,No,Travel_Rarely,...,1.0,Y,13.0,8.0,3,1.0,2.0,1.0,0.0,0.0
3797,6.821863,19.0,3.0,3.0,1.0,4.0,1.0,34.0,No,Travel_Rarely,...,1.0,Y,11.0,8.0,0,1.0,2.0,1.0,0.0,0.0
3891,5.998114,9.0,2.0,3.0,3.0,4.0,4.0,60.0,No,Travel_Rarely,...,3.0,Y,13.0,8.0,1,19.0,5.0,1.0,0.0,0.0
3956,6.621735,23.0,2.0,3.0,1.0,4.0,3.0,31.0,No,Travel_Rarely,...,1.0,Y,12.0,8.0,2,13.0,6.0,12.0,5.0,7.0
4156,5.900523,20.0,2.0,3.0,1.0,2.0,3.0,27.0,No,Travel_Rarely,...,9.0,Y,17.0,8.0,1,6.0,3.0,2.0,2.0,2.0
4233,7.467976,13.0,3.0,3.0,2.0,3.0,3.0,35.0,No,Travel_Rarely,...,1.0,Y,13.0,8.0,0,6.0,5.0,6.0,0.0,4.0
4298,5.927839,18.0,3.0,3.0,2.0,4.0,3.0,30.0,No,Travel_Rarely,...,0.0,Y,11.0,8.0,1,6.0,3.0,5.0,1.0,2.0
4307,5.615672,19.0,4.0,3.0,4.0,3.0,3.0,29.0,No,Non-Travel,...,1.0,Y,11.0,8.0,1,10.0,6.0,10.0,0.0,9.0

Pasamos de 30 a 23 filas

In [10]:
#disp_df = data_df.dropna()

In [11]:
data_df.drop_duplicates()

,hrs,absences,JobInvolvement,PerformanceRating,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,Age,Attrition,BusinessTravel,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
1,7.315971,13.0,2.0,NaN,3.0,2.0,NaN,31.0,Yes,Travel_Frequently,...,0.0,Y,NaN,NaN,1,6.0,3.0,5.0,1.0,4.0
6,6.450877,17.0,3.0,4.0,1.0,3.0,1.0,28.0,Yes,Travel_Rarely,...,2.0,Y,20.0,NaN,1,5.0,2.0,0.0,0.0,0.0
13,8.871421,14.0,2.0,3.0,1.0,2.0,2.0,47.0,Yes,NaN,...,1.0,Y,NaN,8.0,2,10.0,4.0,10.0,9.0,9.0
28,10.713066,6.0,2.0,3.0,4.0,3.0,1.0,44.0,Yes,Travel_Frequently,...,3.0,Y,14.0,8.0,1,19.0,2.0,1.0,0.0,0.0
30,9.662808,11.0,2.0,NaN,1.0,2.0,NaN,26.0,Yes,Travel_Rarely,...,2.0,Y,NaN,8.0,0,5.0,5.0,3.0,0.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405,NaN,6.0,3.0,3.0,4.0,1.0,NaN,NaN,No,Travel_Rarely,...,3.0,Y,17.0,8.0,1,10.0,NaN,3.0,0.0,2.0
4406,5.897197,8.0,2.0,3.0,4.0,4.0,NaN,29.0,No,Travel_Rarely,...,NaN,Y,15.0,8.0,0,10.0,2.0,3.0,0.0,2.0
4407,7.149526,18.0,3.0,4.0,1.0,3.0,3.0,NaN,No,Travel_Rarely,...,0.0,Y,20.0,8.0,0,5.0,4.0,4.0,1.0,NaN
4408,9.187612,8.0,2.0,3.0,4.0,1.0,3.0,42.0,No,Travel_Rarely,...,NaN,Y,14.0,8.0,1,10.0,2.0,NaN,7.0,8.0
4409,6.511790,17.0,4.0,3.0,1.0,3.0,NaN,40.0,No,Travel_Rarely,...,0.0,Y,12.0,8.0,0,NaN,6.0,21.0,3.0,9.0

In [12]:
cols = data_df.columns.to_list()

display(set_frame_style(data_df[cols].head(),'Primeros'))

display(set_frame_style(data_df[cols].describe(),'Resumen de estadistica'))

display(set_frame_style(data_df[cols].isna().any().to_frame().transpose(), 'Columnas con valor nulo'))

display(set_frame_style(data_df[cols].nunique().to_frame().rename({0:'Numero de valores únicos'}, axis=1).transpose(), 'Valores únicos en cada variable'))

¿Problema de clasificación o de regresión?

Se trat de un problema de clasificación, ya que la variable de salida que se espera del modelo es categórica, es decir, se espera que el modelo prediga si un empleado abandonará o no la empresa en un futuro cercano

**¿El problema está balanceado?**

In [13]:
data_df.value_counts()

hrs        absences  JobInvolvement  PerformanceRating  EnvironmentSatisfaction  JobSatisfaction  WorkLifeBalance  Age   Attrition  BusinessTravel     Department              DistanceFromHome  Education  EducationField    EmployeeCount  EmployeeID  Gender  JobLevel  JobRole                    MaritalStatus  MonthlyIncome  NumCompaniesWorked  Over18  PercentSalaryHike  StandardHours  StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  YearsAtCompany  YearsSinceLastPromotion  YearsWithCurrManager
5.615672   19.0      4.0             3.0                4.0                      3.0              3.0              29.0  No         Non-Travel         Research & Development  10.0              4.0        Technical Degree  1.0            4308        Male    3.0       Healthcare Representative  Married        58690.0        1.0                 Y       11.0               8.0            1                 10.0               6.0                    10.0            0.0                      9.0                     1
6.972995   18.0      3.0             3.0                2.0                      4.0              3.0              33.0  No         Travel_Rarely      Research & Development  2.0               2.0        Technical Degree  1.0            1925        Male    2.0       Laboratory Technician      Single         34790.0        3.0                 Y       12.0               8.0            0                 5.0                3.0                    3.0             0.0                      2.0                     1
9.875726   15.0      3.0             3.0                4.0                      3.0              3.0              50.0  Yes        Travel_Frequently  Research & Development  1.0               4.0        Medical           1.0            2014        Male    2.0       Research Scientist         Single         159920.0       3.0                 Y       14.0               8.0            0                 5.0                3.0                    0.0             0.0                      0.0                     1
8.253846   19.0      3.0             3.0                3.0                      3.0              3.0              43.0  No         Travel_Rarely      Sales                   27.0              4.0        Life Sciences     1.0            1609        Male    2.0       Sales Representative       Divorced       39770.0        4.0                 Y       18.0               8.0            1                 8.0                3.0                    5.0             0.0                      2.0                     1
8.037368   19.0      3.0             4.0                1.0                      3.0              4.0              51.0  Yes        Travel_Rarely      Sales                   23.0              3.0        Medical           1.0            3462        Female  2.0       Research Scientist         Married        192720.0       9.0                 Y       20.0               8.0            0                 18.0               2.0                    10.0            2.0                      7.0                     1
7.686566   15.0      2.0             3.0                3.0                      4.0              3.0              30.0  Yes        Travel_Frequently  Sales                   3.0               2.0        Marketing         1.0            3068        Male    3.0       Research Scientist         Single         11290.0        9.0                 Y       19.0               8.0            0                 3.0                2.0                    1.0             0.0                      0.0                     1
7.629565   12.0      3.0             3.0                1.0                      4.0              3.0              53.0  No         Travel_Rarely      Research & Development  11.0              3.0        Medical           1.0            1231        Male    2.0       Manager                    Married        21090.0        2.0                 Y       13.0               8.0            0                 31.0               3.0                    25.0            3.0                      7.0                     1
7.467976   13.0      3.0             3.0                2.0                      3.0              3.0              35.0  No         Travel_Rarely      Research & Development  20.0              4.0        Life Sciences     1.0            4234        Female  3.0       Human Resources            Single         40690.0        1.0                 Y       13.0               8.0            0                 6.0                5.0                    6.0             0.0                      4.0                     1
7.444562   18.0      3.0             4.0                3.0                      3.0              3.0              26.0  Yes        Travel_Frequently  Research & Development  22.0              4.0        Other             1.0            3297        Female  1.0       Sales Executive            Married        20240.0        1.0                 Y       23.0               8.0            0                 8.0                2.0                    8.0             1.0                      7.0                     1
7.160385   7.0       3.0             3.0                1.0                      2.0              3.0              55.0  No         Travel_Rarely      Research & Development  1.0               3.0        Medical           1.0            1658        Female  1.0       Sales Executive            Single         120310.0       3.0                 Y       11.0               8.0            0                 37.0               5.0                    10.0            7.0                      7.0                     1
6.994158   19.0      2.0             3.0                4.0                      2.0              3.0              51.0  No         Travel_Rarely      Research & Development  2.0               3.0        Life Sciences     1.0            1512        Male    2.0       Laboratory Technician      Divorced       56750.0        5.0                 Y       13.0               8.0            0                 13.0               2.0                    4.0             1.0                      2.0                     1
6.821863   19.0      3.0             3.0                1.0                      4.0              1.0              34.0  No         Travel_Rarely      Research & Development  3.0               3.0        Life Sciences     1.0            3798        Male    2.0       Sales Executive            Single         20440.0        1.0                 Y       11.0               8.0            0                 1.0                2.0                    1.0             0.0                      0.0                     1
5.771757   16.0      3.0             3.0                4.0                      3.0              3.0              41.0  No         Travel_Rarely      Research & Development  3.0               3.0        Medical           1.0            281         Male    1.0       Manufacturing Director     Married        72600.0        1.0                 Y       16.0               8.0            0                 22.0               2.0                    22.0            2.0                      10.0                    1
6.621735   23.0      2.0             3.0                1.0                      4.0              3.0              31.0  No         Travel_Rarely      Research & Development  8.0               5.0        Life Sciences     1.0            3957        Male    5.0       Sales Executive            Married        131200.0       1.0                 Y       12.0               8.0            2                 13.0               6.0                    12.0            5.0                      7.0                     1
6.468416   16.0      3.0             3.0                1.0                      3.0              3.0              56.0  No         Travel_Frequently  Research & Development  1.0               2.0        Life Sciences     1.0            515         Female  2.0       Manufacturing Director     Married        52280.0        2.0                 Y       11.0               8.0            0                 18.0               4.0                    5.0             0.0                      3.0                     1
6.428416   20.0      3.0             4.0                4.0                      3.0              2.0              32.0  No         Travel_Rarely      Sales                   2.0               3.0        Marketing         1.0            1519        Male    2.0       Laboratory Technician      Married        27060.0        1.0                 Y       21.0               8.0            1                 13.0               4.0                    13.0            4.0                      8.0                     1
6.399309   15.0      3.0             3.0                3.0                      3.0              3.0              53.0  No         Travel_Rarely      Research & Development  7.0               1.0        Life Sciences     1.0            3217        Male    2.0       Laboratory Technician      Married        28590.0        3.0                 Y       18.0               8.0            1                 32.0               2.0                    5.0             1.0                      3.0                     1
6.233736   8.0       3.0             3.0                3.0                      3.0              3.0              29.0  No         Travel_Rarely      Research & Development  1.0               2.0        Medical           1.0            3229        Female  1.0       Sales Executive            Single         106730.0       1.0                 Y       13.0               8.0            3                 1.0                2.0                    1.0             0.0                      0.0                     1
5.998114   9.0       2.0             3.0                3.0                      4.0              4.0              60.0  No         Travel_Rarely      Sales                   17.0              4.0        Medical           1.0            3892        Male    1.0       Manager                    Divorced       40250.0        3.0                 Y       13.0               8.0            1                 19.0               5.0                    1.0             0.0                      0.0                     1
5.927839   18.0      3.0             3.0                2.0                      4.0              3.0              30.0  No         Travel_Rarely      Sales                   9.0               3.0        Medical           1.0            4299        Male    2.0       Research Scientist         Single         39360.0        0.0                 Y       11.0               8.0            1                 6.0                3.0                    5.0             1.0                      2.0                     1
5.900523   20.0      2.0             3.0                1.0                      2.0              3.0              27.0  No         Travel_Rarely      Sales                   5.0               4.0        Medical           1.0            4157        Female  4.0       Manufacturing Director     Married        44000.0        9.0                 Y       17.0               8.0            1                 6.0                3.0                    2.0             2.0                      2.0                     1
5.852605   11.0      2.0             3.0                1.0                      3.0              3.0              44.0  No         Non-Travel         Research & Development  8.0               2.0        Life Sciences     1.0            1756        Male    1.0       Research Scientist         Single         135030.0       2.0                 Y       12.0               8.0            0                 9.0                6.0                    5.0             1.0                      4.0                     1
10.713066  6.0       2.0             3.0                4.0                      3.0              1.0              44.0  Yes        Travel_Frequently  Research & Development  1.0               2.0        Medical           1.0            29          Male    2.0       Research Scientist         Divorced       103330.0       3.0                 Y       14.0               8.0            1                 19.0               2.0                    1.0             0.0                      0.0                     1
dtype: int64

HELP con esto jaja

## 7. Separación en conjuntos

Seguirá la siguiente distribución:

*   Cojunto de entrenamiento [X_train, y_train]
*   Conjunto de validación [X_valid, y_valid]
*   Conjunto de test [X_test, y_test]

In [ ]:
from sklearn.model_selection import train_test_split

X = data_df.drop(columns = [-1])
y = data_df[-1]

X_train, X_rem, y_train, y_rem = train_test_split(X, y, train_size=0.67, random_state=7)

X_valid, X_test, y_valid, y_test = train_test_split(X_rem, y_rem, test_size=0.5, random_state=7)

Realizamos la separación en conjuntos empleando train_test_split siguiendo las recomendaciones del profesor dadas en clase.

# Evaluación

Simplemente
dividiremos los datos en un conjunto de train para entrenar y ajustar hiper-Aprendizaje Automático
Práctica 2: Predicción de burnout
parámetros, y un conjunto de test en el que evaluaremos las distintas posibilidades
que se probarán en la práctica. Hay que recordar que En problemas de clasificación
desbalanceados hay que usar particiones estratificadas y métricas adecuadas
(balanced_accuracy, f1, matriz de confusión). También es conveniente que los
métodos de construcción de modelos traten el desbalanceo, usando por ejemplo
el parámetro class_weight=”balanced”.

# Construcción de modelos

Construcción de modelos: para esta práctica usaremos
LogisticRegression como método base (sin ajustar hiper-parámetros) y Boosting
como método avanzado (ajustando hiper-parámetros), a elegir. Es importante
realizar los preprocesos que los datos necesiten, usando preferentemente
pipelines. Como método de boosting, se puede elegir uno de entre los métodos de
boosting disponibles en scikit-learn. Si además se usa uno de entre las librerías
externas xgboost, lightgbm o catboost, se pueden sacar +0.35 puntos adicionales.

## Logistic Regression

Los parámetros más importantes de la implantación de sklearn (`LogisticRegression`) son:

- `penalty`: El tipo de aplicación de regularización.
- `C`: (por defecto 1.0) Inverso de la fuerza de regularización; Valores más pequeños especifican una regularización más fuerte.
- `solver`: Algoritmo a utilizar en el problema de optimización.

In [ ]:
# Probamos el modelo sin aplicar ninguna regularización y con los parámetros por efecto
# ==============================================================================
scaler = StandardScaler()
lr = LogisticRegression(penalty='none', random_state = 7)

pipe_scale_lr = Pipeline([
    ('scale', scaler),
    ('lr', lr)])

# Entrenamiento del modelo
# ==============================================================================
cv = KFold(n_splits=5, shuffle=True, random_state = 42 )
scores = cross_val_score(pipe_scale_lr, X_train, y_train, scoring='accuracy', cv = cv)
print(f"All the accuracies are: {scores}")
print(f"And the average crossvalidation accuracy is: {scores.mean():.2f} +- {scores.std():.2f}")

In [ ]:
param_grid = [{'lr__penalty': ['l1', 'l2', 'elascticnet'],
               'lr__C': [0.001, 0.01, 0.1, 1, 10, 100, 1000],
               'lr__solver': ['newton-cg', 'lbfgs', 'liblinear', 'sag', 'saga']}]


inner = KFold(n_splits=3, shuffle=True, random_state=42)

#budget = 40
# Cross-validation (3-fold) para la búsqueda de hiper-parámetros
clf = GridSearchCV (estimator  = pipe_scale_lr,
                    param_grid = param_grid,
                    scoring='accuracy',
                    cv=inner,
                    refit=True,
                    n_jobs=-1,
                    verbose=1,
                    return_train_score=True)

np.random.seed(42)

clf.fit(X=X_train, y=y_train)

In [ ]:
resultados = pd.DataFrame(clf.cv_results_)
resultados.filter(regex = '(param.*|mean_t|std_t)') \
    .drop(columns = 'params') \
    .sort_values('mean_test_score', ascending = False) \
    .head()

In [ ]:
clf.best_params_, clf.best_score_

In [ ]:
# Información del modelo
# ==============================================================================
modelo_final = clf.best_estimator_
print("Intercept:", modelo_final['lr'].intercept_)
print("Coeficientes:", list(zip(df.columns, modelo_final['lr'].coef_.flatten(), )))
print("Accuracy de test:", modelo_final.score(X_test, y_test))

In [ ]:
y_test_pred = modelo_final.predict(X_test)
result = metrics.classification_report(y_test, y_test_pred)
print("Classification Report:",)
print (result)

In [ ]:
# Creates a confusion matrix
cm = metrics.confusion_matrix(y_test, y_test_pred)
accuracy = metrics.accuracy_score(y_test, y_test_pred)
# Transform to df for easier plotting
cm_df = pd.DataFrame(cm,
                     index = ['Benigno','Maligno'],
                     columns = ['Benigno','Maligno'])
plt.figure(figsize=(5.5,4))
sns.heatmap(cm_df, annot=True)
plt.title('Accuracy:{0:.3f}'.format(accuracy))
plt.ylabel('True label')
plt.xlabel('Predicted label')
plt.show()

In [ ]:
#Obtenemos las curva ROC y el área bajo la curva (AUC)

probs = modelo_final.predict_proba(X_test)[:, 1]

auc = metrics.roc_auc_score(y_test, probs)
fpr, tpr, thresholds = metrics.roc_curve(y_test, probs)

plt.figure(figsize=(8, 5))
plt.plot(fpr, tpr, label=f'AUC  = {auc:.2f}')
plt.plot([0, 1], [0, 1], color='blue', linestyle='--', label='Baseline')
plt.title('Curva ROC', size=20)
plt.xlabel('Falsos Positivos', size=14)
plt.ylabel('Verdaderos Positivos', size=14)
plt.legend();

# Mejora de resultados

Usando algún método de selección de atributos de tipo filter
(SelectKBest) de entre los disponibles en sklearn (f_classif,
mutual_info_classif o chi2), comprobad si se pueden mejorar los resultados del
apartado anterior y extraer conclusiones sobre qué atributos son más importantes,
al menos de acuerdo a estos métodos.